@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topMenuHeight: 48px;
}

body {
  margin: 0;
  height: 100vh;
  /* TODO: change to grid */
  display: flex;
  flex-direction: column;
}

body,
input {
  font-family: "JetBrains Mono", "Consolas", "Courier New", monospace;
}

#topMenu {
  height: var(--topMenuHeight);
  flex: 0 0 var(--topMenuHeight);
}

#mainContainer {
  width: 100%;
  flex: 1 1;
  height: calc(100vh - var(--topMenuHeight));
  display: flex;
  flex-direction: row;
  position: relative;
}

#editorContainer,
#map {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#editorContainer {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

#editor {
  min-width: 380px;
  overflow: hidden;
  height: 100%;
}

#map {
  width: 70vw;
  line-height: 0;
  flex: 1 1;
  height: calc(100vh - var(--topMenuHeight));
}

#resize {
  background-color: light-grey;
  width: 8px;
  cursor: ew-resize;
  position: relative;
  transition: all 0.3s;
}

#resize:hover {
  background-color: grey;
}

#resize:active {
  background-color: #237893;
}

#resize::before {
  content: "";
  display: block;
  position: absolute;

  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  left: 1px;
  background-image: radial-gradient(
    circle at center,
    black 1px,
    transparent 1px
  );

  background-size: 3px 3px;
  background-position: top left;
  background-repeat: repeat;

  width: 6px;
  height: 9px;
}

.componentInput {
  border: none;
  border-radius: 2px;
  background-color: #e2f2ff;
  border-bottom: 2px solid rgb(30, 73, 142);
}

.componentInput:focus {
  outline: none;
}

.cm-editor {
  max-height: 100%;
}
.cm-scroller {
  overflow-y: auto;
  overflow-x: auto;
}
