body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#editor,
#app {
  max-height: 50vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#editor {
  flex-grow: 1;
  min-height: 50vh;
}

#app {
  flex-grow: 1;
  line-height: 0;
}